Backend/ARK-Backend/ARK-Backend/logs/
Backend/ARK-Backend/ARK-Backend/Resources/
Backend/pzpi-17-4-Trofunenko-Illia-lab2.md5
Backend/pzpi-17-4-Trofunenko-Illia-lab2.zip
Backend/pzpi-17-4-Trofunenko-Illia-lab2.zip.md5
Frontend/pzpi-17-4-Trofunenko-Illia-lab3.zip
Frontend/pzpi-17-4-Trofunenko-Illia-lab3.zip.md5
